﻿@using EPiServer
@using EPiServer.ServiceLocation
@using Filminstitutet.Web.Business.Extensions
@using EPiServer.Filters
@using NewsMachine.Addon

@model PageViewModel<FramePage>
@{
    FirstPage firstPageParent = Model.CurrentPage.FindFirstParentOfType<FirstPage>(false);

    string iframe_url = Model.CurrentPage.Url.Replace("{lang}", EPiServer.Globalization.ContentLanguage.PreferredCulture.TwoLetterISOLanguageName);
    string iframe_height = String.Format("{0}px", Model.CurrentPage.Height);
}

@{Html.RenderPartial("Breadcrumbs");}
<header class="category-header margin-xs-b-2 margin-md-b-2">
    <div class="container">
        <div class="category-header--title"><span class="@(Model.CurrentPage.HasDynamicPropertyDefined("noColon") ? null : "headline-inner")">@(firstPageParent != null ? firstPageParent.Heading : string.Empty)</span></div>
    </div>
</header>

<div class="article__border article__border--top padding-xs-v-4 padding-md-v-5 padding-lg-v-6">
    <div class="container">

@{
}
    <div style="width:1200px">
        <iframe id="newsmachine_iframe" style="height:@iframe_height; width:100%; border:none; overflow:visible;" scrolling="auto" src="@iframe_url"></iframe>
    </div>
</div>

@{Html.RenderPartial("SubNavigation");}
@{Html.RenderPartial("FooterSecondary");}
